<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ch.bfh.i4mi.picc" android:installLocation="auto" android:versionCode="5" android:versionName="1.0.4">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
	<application android:label="PICCACHU" android:theme="@style/MyTheme"></application>
	<receiver android:name=".AlarmReceiver" android:enabled="true" android:exported="true" android:process=":remote" android:label="AlarmReceiver" />
</manifest>