<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uszpicc.uszpicc" android:installLocation="auto" android:versionName="1.0.1" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="USZ PICC" android:theme="@style/MyTheme" android:icon="@drawable/ic_launcher"></application>
</manifest>