<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.3</string>
	<key>CFBundleDisplayName</key>
	<string>PICCACHU</string>
	<key>CFBundleIdentifier</key>
	<string>ch.bfh.i4mi.picc</string>
	<key>CFBundleVersion</key>
	<string>1.1.9999</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon@2x.png</string>
		<string>Icon.png</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small-40@2x.png</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>it</string>
		<string>fr</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0</real>
				<key>Green</key>
				<real>0.32156862745098</real>
				<key>Blue</key>
				<real>0.635294117647059</real>
			</dict>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
  <key>NSCameraUsageDescription</key>
  <string>Barcodescanner</string>
</dict>
</plist>
